.hidden {
    display: none;
}

:root {
    /* ===============fonts ==============*/
    --main-font: "Roboto", sans-serif;
    /* ================colors============== */
    --color-iris: #4D5AE5;
    --color-ocean: #404BBF;
    --color-navy-blue: #2E2F42;
    --color-green: #31D0AA;
    --color-slate: #434455;
    --color-light-slate: #8E8F99;
    --color-cornflower: #E7E9FC;
    --color-cloud: #F4F4FD;
    --color-navy-blue-modal: #2E2F42;
    --color-grey: #2E2F42;
    --color-white: #ffffff;
    --color-dairy: #FCFCFC;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*==========================body============================*/
body {
    font-family: "Roboto", sans-serif;
    color: var(--color-slate);
    background-color: var(--color-white);
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* =============common========================= */

.container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 16px;
}

@media screen and (min-width:768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width:1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

/* =================header=================== */

.header {
    border-bottom: 1px solid var(--color-cornflower);
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.flex-header-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav-list,
.header-address {
    display: none;
}

.header-nav-studio {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-iris);
    font-family: "Raleway", sans-serif;
    margin-right: 76px;
    padding: 16px 0;
    display: block;
}

.header-nav-logo-span {
    color: var(--color-navy-blue);
}

.burger {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width:768px) {
    .burger {
        display: none;
    }

    .header-nav-list {
        color: var(--color-navy-blue);
        display: flex;
        gap: 40px;
        align-items: center;
    }

    .header-nav-studio {
        padding: 24px 0;
        display: block;
        margin-right: 120px;
    }

    .nav-list-contact-a {
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-list-contact-a.contact {
        position: relative;
        color: var(--color-ocean);
        padding: 24px 0;
    }

    .nav-list-contact-a.contact::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--color-ocean);
    }

    .header-nav {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--color-navy-blue);
        display: flex;
        align-items: center;
    }

    .header-social-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        font-size: 12px;
        letter-spacing: 0.04em;
    }

    .header-social-list-item:hover,
    :focus {
        color: var(--color-ocean);
    }

    .header-social-list-item:hover,
    :focus {
        color: var(--color-ocean);
    }

    .header-address {
        font-style: normal;
        display: block;
    }
}

@media screen and (min-width:1158px) {
    .header-nav-studio {
        margin-right: 76px;
    }

    .header-social-list {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }

    .nav-list-social-a {
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding: 24px 0;
        line-height: 1.5;
        font-size: 16px;
        letter-spacing: 0.02em;
    }
}

/* ============mobile menu==================  */

@media screen and (min-width:768px) {
    .mobile-menu {
        display: none;
    }
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-white);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: var(--color-cornflower);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close:hover,
.mobile-menu-close:focus {
    background-color: var(--color-ocean);
    border: none;
    fill: var(--color-white);
}

.mobile-menu-nav {
    margin-bottom: auto;
}


.mobile-nav-li {
    padding-bottom: 40px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.12;
    letter-spacing: 0.02em;
    color: var(--color-grey);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobil-social-li:hover,
.mobil-social-li:focus,
.mobile-nav-li:hover,
.mobile-nav-li:focus {
    color: var(--color-ocean);
}

.mobil-social-li {
    padding-bottom: 24px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-address {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-top: 48px;
}

.mobile-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--color-iris);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobil-social-li:hover,
.mobil-social-li:focus {
    background-color: var(--color-ocean);
}


.mobile-svg {
    display: block;
    fill: var(--color-cloud);
}


/* ================== section1 =================== */

.button:hover,
.button:focus {
    background: var(--color-ocean);
}

.business {
    max-width: 320px;
    padding: 72px 0;
    margin: 0 auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/table.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.business-text {
    max-width: 216px;
    font-size: 36px;
    line-height: 1.12;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--color-white);
    margin: 0px auto;
    margin-bottom: 72px;
}

.button {
    font-family: "Roboto", sans-serif;
    border: none;
    background-color: var(--color-iris);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--color-white);
    display: block;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    margin: 0px auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
:focus {
    background-color: var(--color-ocean);
}

@media screen and (min-width:768px) {
    .business {
        padding: 112px 0;
        max-width: 768px;
    }

    .business-text {
        max-width: 496px;
        margin-bottom: 36px;
        font-size: 56px;
        line-height: 1.07;
    }
}

@media (min-width: 768px) {
    .business {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/table.jpg);
    }

    @media (resolution: 192dpi) {
        .business {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/table.jpg);
        }
    }
}

@media (min-width: 1158px) {
    .business {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/table.jpg);
    }

    @media (resolution: 192dpi) {
        .business {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/table.jpg);
        }
    }
}

@media screen and (min-width: 1158px) {
    .business {
        padding: 188px 0;
        max-width: 1440px;
    }

    .business-text {
        max-width: 496px;
        margin-bottom: 48px;
        font-size: 56px;
    }
}

/* ====================SECTION-2=================== */

.paragraph {
    padding: 96px 0;
}

.element-one {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

/* icons */

.ikons-sv {
    display: none;
}

.paragraph-s {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.12;
    letter-spacing: 0.02em;
    color: var(--color-navy-blue);
    margin-bottom: 8px;
    text-align: center;
}

.paragraph-p {
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-slate);
}


@media screen and (min-width: 768px) {
    .paragraph {
        max-width: 1158px;
        padding-bottom: 96px;
    }

    .paragraph-s {
        display: flex;
        align-items: start;
    }

    .element-one {
        display: flex;
        gap: 24px;
    }

    .paragraph-li {
        width: calc((100% - 24px) / 2);
        padding-bottom: 72px;
    }
}

@media screen and (min-width: 1158px) {
    .paragraph {
        padding: 120px 0;
        margin: 0 auto;
    }

    .paragraph-s {
        max-width: 1128px;
        display: flex;
        gap: 24px;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    .ikons-sv {
        margin-bottom: 8px;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--color-light-slate);
        border-radius: 4px;
        background-color: var(--color-cloud);
        height: 112px;
        display: flex;
    }

    .paragraph-li {
        max-width: 264px;
        height: auto;
        width: calc((100% - 24px) / 4);
    }
}

/* ===================SECTION-3================== */

.container .container-team {
    max-width: 320px;
}

.team-our {
    margin-bottom: 96px;
}

.team {
    margin: 0 auto;
    height: 40px;
    margin-bottom: 72px;
    text-align: center;
}

.team-photo {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    margin-bottom: 96px;
    justify-content: center;
}

.team-hero-pothetion {
    padding: 32px 0;
}

.team-hero {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--color-navy-blue);
}

.text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--color-slate);
    margin-bottom: 8px;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.social-icons {
    width: 40px;
    height: 40px;
}

.social-a {
    border-radius: 50%;
    background-color: var(--color-iris);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-logo {
    fill: var(--color-cloud);
}

.team-li {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: var(--color-white);
    background-color: var(--color-white);
}

.social-a:hover,
.social-a:focus {
    background-color: var(--color-ocean);
}

@media screen and (min-width: 768px) {
    .container-team {
        padding-left: 108px;
        padding-right: 108px;
    }

    .team{
        margin-bottom: 72px;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: var(--color-grey);
    }

    .team-li {
        margin: 0 auto;
        column-gap: 64px;
        row-gap: 24px;
    }

    .team-our {
        background-color: var(--color-cloud);
        padding: 96px 0;
    }

    .team-photo {
        column-gap: 24px;
    }
}

@media screen and (min-width: 1158px) {
    .container-team {
        padding: 0;
        max-width: 1128px;
    }

    .team-photo {
        display: flex;
        gap: 24px;
    }

    .team-li {
        border-radius: 0 0 4px 4px;
        width: calc((100% - 72px) / 4);
    }
}

/* =================SECTION-4=============== */

.portfolio {
    width: 320px;
    margin: 0 auto;
}

.our-portfolio {
    margin-bottom: 72px;
    width: 288px;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--color-navy-blue);
    text-transform: capitalize;
}

.service-photo {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    justify-content: center;
    margin-bottom: 96px;
}

.li-name {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.our-portfolio-b {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-navy-blue);
}

.name-im {
    position: relative;
    overflow: hidden;
    width: 288px;
}

.up-window {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-cloud);
    padding: 40px 32px;
    background-color: var(--color-iris);
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.name-s {
    border: 1px solid var(--color-cornflower);
    border-top: none;
    padding: 32px 16px;
}

.text-portfolio {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-slate);
}

@media screen and (min-width: 768px) {
    .portfolio{
        width: 736px;
    }

    .our-portfolio {
        margin: 0 auto;
        margin-bottom: 72px;
    }

    .service-photo {
        column-gap: 24px;
        row-gap: 64px;
        margin-bottom: 96px;
    }
}

@media screen and (min-width: 1158px) {
    .portfolio {
        width: 1128px;
        padding: 120px 0 120px 0;
    }

    .service-photo {
        width: 1128px;
        row-gap: 48px;
    }

    .li-name {
        width: calc((100% - 48px) / 3);
    }

    .li-name {
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        box-shadow: none;
    }

    .our-portfolio-b {
        margin-bottom: 8px;
    }

    .name-im {
        width: 360px;
    }

    .name-s {
        padding: 32px 16px;
        width: 360px;
    }

    .name-s:hover {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    }

    .li-name:hover .pops-paragraf {
        transform: translateY(0%);
    }
}

/* =============FOOTER================= */

.footer {
    background-color: var(--color-navy-blue);
    width: 320px;
    margin: 0 auto;
}

.container-twoo {
    display: flex;
    flex-wrap: wrap;
}

.footer-logo {
    margin-top: 96px;
    margin-bottom: 72px;
}

.footer-web {
    display: inline-block;
    padding-bottom: 16px;
    padding-left: 86px;
    padding-right: 86px;
    color: var(--color-iris);
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
}

.footer-web .footer-studio {
    color: var(--color-cloud);
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-cloud);
}

.social-footer {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-white);
    margin: 0 auto;
    margin-bottom: 72px;
}

.sv-social {
    fill: var(--color-cloud);
}

.media-s {
    margin-bottom: 16px;
    text-align: center;
}

.social-u {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.social-af {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--color-iris);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-af:hover,
.social-af:focus {
    background-color: var(--color-green);
}

.subscribe-div {
    gap: 24px;
}

.subscribe-parahraf {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-white);
    margin-bottom: 16px;
    text-align: center;
}

.footer-input {
    background-color: transparent;
    border: 1px solid var(--color-white);
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: var(--color-white);
    margin-bottom: 16px;
    padding-left: 16px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 288px;
}

.footer-label::placeholder {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: var(--color-white);
}

.footer-bth {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background: var(--color-iris);
    border: none;
    margin: 0 auto;
    margin-bottom: 72px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: var(--color-white);
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input:hover,
.footer-input:focus {
    border-color: var(--color-green);
}

.svg-footer {
    margin-left: 16px;
    fill: var(--color-white);
}

.footer-bth:hover,
.footer-bth:focus {
    background-color: var(--color-green);
}

@media screen and (min-width: 768px) {
    .footer {
        width: 768px;
    }

    .footer-form {
        display: flex;
        gap: 24px;
    }

    .footer-logo {
        width: 264px;
        padding-top: 0;
    }

    .social-footer {
        margin-top: 96px;
    }

    .container-twoo {
        margin-left: 108px;
    }

    .subscribe-div {
        margin-bottom: 96px;
    }

    .subscribe-parahraf {
        text-align: start;
    }

    .footer-web {
        padding-left: 0;
    }

    .media-s {
        text-align: start;
    }

    .footer-bth {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1158px) {
    .footer {
        width: 1440px;
        padding: 100px 0;
    }

    .container-twoo {
        display: flex;
        align-items: baseline;
        margin-left: 156px;
        margin-right: 159px;
    }

    .footer-logo {
        margin-right: 120px;
    }

    .footer-text {
        width: 264px;
    }

    .media-s {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--color-white);
        margin-bottom: 16px;
    }

    .subscribe-div {
        margin-left: auto;
    }

    .footer-form {
        display: flex;
        gap: 24px;
    }
}

/* =================MODALKA======================= */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: auto;
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
        0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: var(--color-dairy);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
    width: 288px;
}

.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -100%);
}

.modal-close-btn {
    height: 24px;
    width: 24px;
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
    border: none;
    background: transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-cornflower);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: var(--color-ocean);
    border: none;
    fill: var(--color-white);
}

.close-button {
    width: 8px;
    height: 8px;
    stroke: black;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--color-navy-blue);
    margin-bottom: 16px;
    width: 256px;
}

.div-label {
    margin-bottom: 8px;
}

.label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--color-light-slate);
    margin-bottom: 4px;
}

.input-clas {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-clas:focus {
    border-color: var(--color-iris);
}

.close-modal-btn {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.t-area {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    resize: none;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    padding: 16px 8px 16px 8px;
}

.t-area::placeholder {
    color: rgba(46, 47, 66, 0.4);
}

.label-chek {
    width: 360px;
    height: 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--color-light-slate);
    display: flex;
    align-items: center;
}

.div-svg {
    fill: var(--color-navy-blue);
    position: relative;
}

.div-svg svg {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
}

.input-clas:focus~svg {
    fill: var(--color-iris);
}

.t-area {
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    border-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.t-area:focus {
    border-color: var(--color-iris);
}

.div-label-coment {
    margin-bottom: 16px;
}

.privacy-div {
    margin-bottom: 24px;
}

.span-svg {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent;
}

#user-privacy:checked+.label-checkbox .span-checkbox {
    background-color: var(--color-ocean);
    border: none;
    fill: var(--color-cloud);
}

.color-privacy {
    color: var(--color-iris);
    text-decoration: underline;
}

@media screen and (min-width: 768px) {
    .modal {
        width: 408px;
    }

    .modal-text {
        width: 360px;
    }
}